.link {
  list-style: none;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

body {
  margin: 0;
}

.header-section {
}

.header-box {
  max-width: 1200px;
  padding: 25px 15px;
}
