:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #212121;
  --secondary-color: #757575;
  --light-color: #ffffff;
  --hover-color: #2196f3;
  --button-color: #f5f4fa;
  --footer-color: #2f303a;
}

h1,
h2,
h3,
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: var(--main-font), var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03px;
  color: var(--accent-color);
  text-align: center;
}

.link {
  list-style: none;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  /* outline: 2px solid tomato; */
}

.section {
  margin: 94px auto 0;
}

/* *HEADER SECTION* */
.header-box {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19px;
  color: var(--hover-color);
}

.header-logo-piece {
  color: #000000;
}

.header-navigation {
  margin-right: 350px;
}

.header-list {
  display: flex;
  padding: 0;
}

.header-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-list-item {
  padding: 0;
  margin: 0;
}

.header-pages {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02px;
  color: var(--accent-color);
}

.header-mail {
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02px;
  color: var(--secondary-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02px;
  color: var(--secondary-color);
}

.header-pages:hover,
:focus,
.header-mail:hover,
:focus,
.header-tel:hover,
:focus {
  color: var(--hover-color);
}

/* !INDEX PAGE! */
/* *HERO SECTION* */
.hero-section {
  margin: 0 auto;
  max-width: 1600px;
}

.hero-section-content {
  padding: 200px 452px 200px;
  background-color: var(--footer-color);
}

.hero-section-caption {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
}

.hero-section-button {
  margin-top: 30px;
  padding: 10px 32px;
  cursor: pointer;
  font-weight: 700;
  line-height: 1.87em;
  letter-spacing: 0.06em;
  color: var(--light-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-section-button:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-section-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* *BENEFITS SECTION* */
.benefits-section {
  max-width: 1200px;
}

.benefits-list {
  display: flex;
  text-align: left;
}

.benefits-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.benefits-item-text {
  font-size: 14px;
  line-height: 1.71em;
  color: var(--secondary-color);
}

.benefits-list-item {
  width: 270px;
}

/* *JOB SECTION* */
.job-caption {
  margin-bottom: 50px;
}

.job-list {
  display: flex;
}

.job-list-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  color: var(--accent-color);
}

.job-list-item:not(:last-child) {
  margin-right: 30px;
}

/* *COMMAND SECTION* */
.command-section {
  max-width: 1600px;
  margin: 94px auto 0;
}

.command-section-content {
}

.command-section-caption {
  margin: 94px 668px 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  color: var(--accent-color);
}

.command-section-list {
  display: flex;
  /* margin: 0 215px 94px; */
}

.command-section-item:not(:last-child) {
  margin-right: 30px;
}

.command-section-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-section-item-title {
  margin: 30px 5px 10px;
  font-weight: 500;
  line-height: 1.19em;
  text-align: center;
  color: var(--accent-color);
}

.command-section-item-text {
  margin: 0 65px 30px;
  line-height: 1.19em;
  text-align: center;
  color: var(--secondary-color);
  background: #ffffff;
}

/* !PORTFOLIO PAGE!
/* *FILTER SECTION* */
/* .filter-list {
  display: flex;
} */

/* .filter-button {
  background: var(--button-color);
  border-radius: 4px;
} */

/* .filter-button:hover,
:focus {
  background: #2196f3;
} */

/* .filter-button-text {
  font-weight: 500;
  line-height: 1.62px;
  text-align: center;
} */

/* .filter-button-text:hover,
:focus {
  color: var(--light-color);
} */

/* .buttons-styles {
  background: var(--button-color);
  border-radius: 4px;
} */

/* font-weight: normal;
font-size: 16;
letter-spacing: 0.03; */
/* *PORTFOLIO SECTION* */
/* .portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2px;
  letter-spacing: 0.06em;
  color: var(--accent-color);
} */

/* .portfolio-text {
  line-height: 1.88px;
  color: var(--secondary-color);
} */

/* *FOOTER SECTION* */
.footer-section {
  max-width: 1600px;
  margin: 0 auto;
}

.footer-section-content {
  background-color: var(--footer-color);
}

.footer-logo {
  padding: 60px 1240px 20px 215px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19px;
  color: var(--hover-color);
}

.footer-logo-piece {
  color: var(--light-color);
}

.footer-adress {
}

.footer-adress-list {
  padding: 0 1154px 60px 215px;
  text-align: left;
}

.footer-adress-item {
  font-size: 14px;
  line-height: 1.71em;
  color: var(--light-color);
}

.footer-adress-item:not(:first-child) {
  color: rgba(255, 255, 255, 0.6);
}
